<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Galeria de imagenes</title>
    <style>
        body{
            background-color:black;
            color:white;
        }
    </style>
</head>
<body>
<h1>Bienvenido a la galeria de imágenes de Alejandro Serafin</h1>
<form th:action="@{/imageManager}" method="post" enctype="multipart/form-data" th:object="${imageForm}">
    <input type="file" name="imageFile" />
    <button type="submit">Subir imagen</button>
    <div th:if="${message}" th:text="${message}"></div>
</form>
<div th:each="imageLink : ${imageLinks}">
    <img th:src="${imageLink}" />
</div>
</body>
</html>
